/* 

form system

*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group-append {
  cursor: pointer;
}

:focus {
  outline: none;
}

input,
textarea,
select,
button {
  /* font-family: "Muli-Regular"; */
  font-size: 15px;
}
textarea {
  max-height: 1000px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 3vw;
  color: #8a5122;
  background-color: #fff;
  /* text-transform: uppercase; */
  letter-spacing: 7px;
  padding: 10px 30px;
  display: inline-block;
  border: 1px solid #dad8e4;
  margin-top: -2vw;
  margin-bottom: 4vw;
}

.wrapper {
  margin: 0vw 0vw 1vh 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizard {
  width: 75vw;
  position: relative;
}

/* stepper border */
.wizard > .steps {
  position: relative;
  top: 12.5%;
  right: 51.5%;
  transform: translateX(50%);
  z-index: 0;
  width: 75vw;
  height: 2.75vw;
  margin: 0vw 0vw 0vw 1vw;
  padding: 0.75vw 0vw 0vw 0vw;
  border-radius: 0.75vw;
  background-color: #fff;
}

.wizard > .steps .current-info,
.wizard > .steps .number {
  display: none;
}

.wizard > .steps ul {
  display: flex;
  justify-content: center;
}

.wizard > .steps li a {
  display: inline-block;
  margin-right: 10vw;
  position: relative;
  width: 12.5vw;
  height: 1vw;
  border-radius: 0.5vw;
  background-color: #E7D5BF;
}
/* stepper line */
.wizard > .steps li a:after {
  content: "";
  width: 8vw;
  height: 0.25vw;
  border-radius: 2px;
  background: #E7D5BF;
  position: absolute;
  left: -9vw;
  top: 0.4vw;
  transition: all 1s ease;
}
.wizard > .steps li.first a {
  background: #987468;
}
.wizard > .steps li.checked a {
  background: #987468;
}
/* stepper line */
.wizard > .steps li.checked a:after {
  background: #987468;
}
.wizard > .steps li:last-child a {
  margin-right: 0;
}
.wizard > .steps li:first-child a:before {
  display: none;
}
.wizard > .steps li:first-child a:after {
  display: none;
}

/* form canvas */
/* .form-content {
  height: 1800px;
} */
.wizard > .content {
  /* height: 1850px; */
  /* position: relative; */
  padding: 0vh 0vh 22.5vh 0vh;
}

.inner {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.form-header {
  text-align: center;
}
.form-title {
  width: 75vw;
}

.form-row {
  display: flex;
  margin-bottom: 18px;
}
.form-row .form-holder {
  width: 50%;
  margin-right: 30px;
}
.form-row .form-holder:last-child {
  margin-right: 0;
}
.form-row .form-holder.w-100 {
  width: 100%;
  margin-right: 0;
}
.form-row .select {
  width: 50%;
  margin-right: 30px;
}
.form-row .select .form-holder {
  width: 100%;
  margin-right: 0;
}

/* .form-holder {
  position: relative;
} */
.form-holder i {
  position: absolute;
  bottom: 7px;
  right: 0;
  font-size: 17px;
}

/* add properties beside Boostrap */
.form-control {
  /* height: 37px; */
  /* border: none; */
  border-bottom: 2px solid #e6e6e6;
  color: #666;
}
.form-control:focus {
  border-color: #e9e0cf;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-moz-placeholder {
  color: #999;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control:-moz-placeholder {
  color: #999;
}

/* button */
.actions {
  position: absolute;
  bottom: 55px;
  right: 51px;
}
.actions ul {
  display: flex;
}
.actions li a {
  padding: 0;
  border: none;
  display: inline-flex;
  height: 41px;
  width: 135px;
  align-items: center;
  background: #e9e0cf;
  color: #666;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
}
.actions li a:before {
  content: "\f301";
  position: absolute;
  top: 14px;
  right: 28px;
  font-family: Material-Design-Iconic-Font;
}
.actions li a:hover {
  background: #cfc7b8;
}
.actions li:first-child a {
  width: 144px;
  padding-left: 48px;
}
.actions li:first-child a:before {
  content: "\f2ff";
  position: absolute;
  top: 14px;
  left: 26px;
  font-family: Material-Design-Iconic-Font;
}
.actions li:nth-child(2) a,
.actions li:last-child a {
  margin-left: 20px;
}
.actions li:last-child a:before {
  content: "\f26b";
  position: absolute;
  top: 13px;
  right: 28px;
  font-family: Material-Design-Iconic-Font;
}
.actions li[aria-disabled="true"] a {
  opacity: 0;
  transition: all 1s;
}
.actions li[aria-disabled="false"] ~ li a {
  background: #AD9D72;
  color: #fff;
}
.actions li[aria-disabled="false"] ~ li a:hover {
  background: #936D56;
}

/* 

form system – mobile layout

*/
@media (max-width: 1280px) {

  h3 {
    font-size: 7vw;
    color: #8a5122;
    background-color: #fff;
    /* text-transform: uppercase; */
    letter-spacing: 7px;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid #dad8e4;
    margin-top: -2vw;
    margin-bottom: 4vw;
  }

  .form-row-h{
    min-height: 20vh;
  }

  .inner {
    display: block;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }
  
   /* form canvas */
  /* .form-content {
    height: 2700px;
  } */
  /* .wizard > .content {
    height: 2750px;
  } */

  .form-row {
    display: block;
  }
  .form-row .form-holder,
  .form-row .select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .checkbox-circle {
    width: 100%;
  }

  .wizard {
    height: 100%;
    width: 95vw;
  }
  .wizard > .content {
    padding: 0vh 0vh 25vh 0vh;
  }
  
  /* stepper border */
  .wizard > .steps {
    right: 50%;
    width: 94vw;
    min-height: 30px;
    padding: 0.5vw 0vw 0vw 0vw;
  }
  .wizard > .steps li a {
    width: 17.5vw;
    min-height: 10px;
  }
  /* stepper line */
  .wizard > .steps li a:after {
    min-height: 3px;
    top: 0.8vw;
  }
  .actions {
    right: 50%;
    transform: translateX(50%);
    bottom: 3%;
  }

  .form-title {
    width: 100%;
  }
}

/* 

question system

*/
.recipe__ingredients {
  width: auto;
}
.recipe-table {
  position: relative;
  /* padding:  0vw; */
  border: 1px solid #ddd;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  z-index: 0;
  background-color: #fff;
}

.recipe-table__cell {
  vertical-align: top;
  width: auto;
  padding: 30px 5px 30px 0px;
}
.recipe-table__cell2 {
  vertical-align: top;
  width: 15vw;
  padding: 30px 5px 30px 0px;
}

.recipe-table__add-row {
  margin-top: 0;
  position: relative;
  border-top: 1px solid #eee;
  z-index: 0;
}

.recipe-table__add-row-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  width: 50vw;
  margin: 0 auto;
  -webkit-transition: all 0.2s easy-in;
  transition: all 0.2s easy-in;
  text-align: center;
  opacity: 0.5;
  color: #fff;
  border: 1px solid #987468;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #987468;
  height: 5vw;
  min-height: 50px;
  line-height: 1.5em;
}
.recipe-table__add-row-btn:hover {
  opacity: 1;
}

.recipe-table__del-row-btn {
  width: 5vw;
  cursor: pointer;
  display: inline-block;
  padding: 0.25vw 1vw;
  font-size: 1em;
  line-height: 1.4;
  border: 1px solid #f39c12;
  color: #f39c12;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
  background-color: #fff;
}
.recipe-table__del-row-btn:hover {
  background: #f39c12;
  color: #fff;
}

.drag-handler {
  width: 5vw;
  position: relative;
  background-color: #e4e6eb;
  background-image: linear-gradient(
    45deg,
    #e4e6eb,
    #e4e6eb 2px,
    #fff 2px,
    #fff 4px,
    #e4e6eb 4px,
    #e4e6eb 9px,
    #fff 9px,
    #fff 11px,
    #e4e6eb 11px,
    #e4e6eb 16px,
    #fff 16px,
    #fff 18px,
    #e4e6eb 18px,
    #e4e6eb 22px
  );
  cursor: move;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.drag-handler:hover {
  background-image: linear-gradient(
    45deg,
    #bab86c,
    #bab86c 2px,
    #fff 2px,
    #fff 4px,
    #bab86c 4px,
    #bab86c 9px,
    #fff 9px,
    #fff 11px,
    #bab86c 11px,
    #bab86c 16px,
    #fff 16px,
    #fff 18px,
    #bab86c 18px,
    #bab86c 22px
  );
}
.drag-handler:active {
  background-image: linear-gradient(
    45deg,
    #bab86c,
    #bab86c 2px,
    #fff 2px,
    #fff 4px,
    #bab86c 4px,
    #bab86c 9px,
    #fff 9px,
    #fff 11px,
    #bab86c 11px,
    #bab86c 16px,
    #fff 16px,
    #fff 18px,
    #bab86c 18px,
    #bab86c 22px
  );
}

.form-item-focus:focus {
  width: 80%;
  position: absolute;
  left: 10%;
  /* -webkit-transition: step-start;
  transition: step-start; */
}

.vertical-align-center {
  vertical-align: top;
  text-align: center;
}

@media (max-width: 1280px) {
  .recipe-table__cell {
    padding: 60px 5px 60px 0px;
  }
  .recipe-table__cell2 {
    padding: 60px 5px 60px 0px;
  }
}

.minWidth{
  min-width: 23vh;
}
.minWidth2{
  min-width: 1
}